
    {% extends "core/base_template.html" %}
    {% load static %}
    
  

    {% block content %}
    {{mensaje|safe}}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">RUT</th>
            <th scope="col">RAZON SOCIAL</th>
            <th scope="col">DESCRIPCION</th>
            
            
            <th scope="col">SERVICIO</th>
            <th scope="col">OPERACION</th>
          </tr>
        </thead>
        <tbody>
          {% csrf_token %}
            {% for proveedor in proveedores %}
          <tr>
            <td>{{proveedor.rut}}</td>
            <td>{{proveedor.nombre}}</td>
            <td>{{proveedor.descripcion}}</td>
            
            
            <td>{{proveedor.servicio}}</td>
            <td>
              <button type="button"  class="btn btn-success btn-eliminar" data-toggle="modal" data-target="#exampleModal"> Eliminar </button>
              <button type="button" class="btn btn-info btn-editar" data-toggle="modal" data-target="#editarModal">Editar</button>
            </td>
            
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ong Proveedores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estas seguro que desea eliminar el proveedor: <label id="lbl_proveedor" ></label>
        <input type="hidden" id="hdn_rut">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="eliminar" data-dismiss="modal">Eliminar</button>
        <button type="button" class="btn btn-primary" id="salir"  data-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarModalLabel">Ong Proveedores</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <input type="hidden" id="hdn_id">
        
        <input type="hidden" id="hdn_razon_social">
        <input type="hidden" id="hdn_descripcion">
        <input type="hidden" id="hdn_servicio">
        <div class="row">
          <div class="col-md-6">
              <label for="fieldNombre">
                Rut:         
              </label>                       
              <!-- <input id="fieldRut" class="form-control" type="text" name="rut" /> -->
              <label id="lbl_rut"></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <label for="fieldEmail">
                Razon social:        
              </label>
              <input id="id_razon_social" class="form-control" type="nombre" name="id_razon_social" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <label for="fieldDescripcion">
                Descripcion:
              </label>
              <input id="descripcion" class="form-control" type="text" name="descripcion">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="fieldServicio">
              Servicio:
            </label>
            <input id="servicio" class="form-control" type="text" name="servicio">
          </div>
        </div>
          
        <input type="hidden" id="editar">
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" id="guardar_modificacion" data-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-primary" id="salir"  data-dismiss="modal">Salir</button>
        </div>
      </div>
        
    </div>

    
  </div>


      {% endblock %}
    
